﻿@model ProductsListViewModel

<h2>Products</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th class="text-right">Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            @Html.Partial("ProductsSummary", product)
        }
    </tbody>
</table>