﻿@model Product

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="caption">
        <h3 class="pull-right">@Model.Price.ToString("c")</h3>
        <h3>
            <a asp-controller="Products" asp-action="Details" asp-route-productId="@Model.Id">@Model.Name</a>
        </h3>
    </div>
    <div class="addToCart text-right">
        <p class="button ">
            <a class="btn btn-success" id="cartButton" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id">
                Add to cart
            </a>
        </p>
    </div>
</div>