﻿@model Product

    <tr>
        <td class="text-left">
            <p><a asp-controller="Products" asp-action="Details" asp-route-productId="@Model.Id">@Model.ToString()</a>
            <p>@Model.Description</p>
        </td>
        <td class="text-left">@Model.Category</td>
        <td class="text-right">@Model.Price.ToString("c")</td>
        <td class="text-center"><a class="btn btn-success" id="cartButton" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id">Add to cart</a></td>
    </tr>