﻿@model CartViewModel

@*This form just displays an ultra-basic summary of the cart to reflect the style of the prompt.*@
<div class="row checkoutForm">
    <h4>Cart Summary</h4>

    @if (Model.ShoppingCart.CartItems.Count > 0)
    {
        <table align="center">
            @foreach (var line in Model.ShoppingCart.CartItems)
            {
                <tr>
                    <td colspan="4" class="text-right">@line.ToString()</td>
                </tr>
            }
            <tr height="10px" background-color="#FFFFFF"></tr>
            <tr>
                <td colspan="3" class="text-right">Total Taxes:</td>
                <td class="text-right">
                    @Model.TotalTaxes.ToString("c")
                </td>
            </tr>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.TotalPrice.ToString("c")
                </td>
            </tr>
        </table>
         
        <div class="text-right">
            <div class="btn-group ">
                <a class="btn btn-success" asp-controller="Cart" asp-action="ThankYou">Confirm</a>
            </div>
        </div>
    }
</div>