﻿@model CartViewModel

<h3>Shopping Cart</h3>
<div class="row checkoutForm">
    @if (Model.ShoppingCart.CartItems.Count > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th class="text-right">Price per item</th>
                    <th class="text-right">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.ShoppingCart.CartItems)
                {
                    <tr>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-left">@line.Product.ToString()</td>
                        <td class="text-left">@line.Product.Category</td>
                        <td class="text-right">@line.Product.Price.ToString("c")</td>
                        <td class="text-right">
                            @(line.TotalPriceWithTaxes().ToString("c"))
                        </td>
                        <td class="text-center"><a class="glyphicon glyphicon-remove text-danger remove" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@line.Product.Id"></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">Total Taxes:</td>
                    <td class="text-right">
                        @Model.TotalTaxes.ToString("c")
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.TotalPrice.ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="text-right">
            <div class="btn-group ">
                <a class="btn btn-success" asp-controller="Cart" asp-action="Checkout">Check out</a>
                <a class="btn btn-default" asp-controller="Products" asp-action="List">Continue shopping</a>
            </div>
        </div>
    }
    else
    {
        <h4>Your cart is empty.</h4>
        <div class="text-right">
            <div class="btn-group ">
                <a class="btn btn-default" asp-controller="Products" asp-action="List">Continue shopping</a>
            </div>
        </div>
    }
</div>