﻿<div class="row checkoutForm">
    <h1>Thank you for shopping at OnlineStore!</h1>
    <div class="text-left">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Home" asp-action="Index">Go Home</a>
        </div>
    </div>
</div>