﻿@model CartViewModel

@if (Model.ShoppingCart.CartItems.Count > 0)
{
    <li>
        <a asp-controller="Cart" asp-action="EmptyCart">Empty Cart</a>
    </li>
}
<li>
    <a asp-controller="Cart" asp-action="Index">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Model.ShoppingCart.CartItems.Count
        </span>
    </a>
</li>
